<h1>My Cool App</h1>
<a routerLink="/" style="margin-right:5px">Home</a>
<a routerLink="/products">Products</a>
<router-outlet></router-outlet>

<button mat-icon-button color="primary">
    <mat-icon>home</mat-icon>
</button>